@{
    ViewData["Title"] = "Reportes";
}
<h1 class="tituloDePagina">Reportes</h1>
<div class="container3">
    <a asp-action="VistaReportesIntroducciones" asp-controller="Introduccion" class="btn-inicio">
        <i class="bi bi-vector-pen"></i>
        <span>Introducciones</span>
    </a>
</div>