@using CemSys2.ViewModel.Reportes
@model IntroduccionReportesVM

<h1 class="tituloDePagina">Reportes de introducciones</h1>

<!-- formulario -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Buscador
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            <div class="accordion-body">
                <form asp-action="/" method="get">
                    <div class="text-center p-3">
                        
                    </div>
                   
                    <div class="text-center p-3">
                        <input id="todasOpcion" type="radio" name="opcion" value="todas" checked />

                        <label for="todasOpcion" class="me-4">Todas</label>

                        <input id="desdeOpcion" type="radio" name="opcion" value="fecha" />

                        <label for="desdeOpcion">Desde</label>
                        <input  type="date" class="form-control-sm me-2" name="desdeFecha" value="@Context.Request.Query["desdeFecha"]" />

                        <label>Hasta</label>
                        <input type="date" class="form-control-sm me-2" name="hastaFecha" value="@Context.Request.Query["hastaFecha"]" />
                    </div>

                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-success me-2" id="btnBuscar">Buscar</button>
                        <a asp-action="VistaReportesIntroducciones" asp-controller="Introduccion" class="btn btn-primary" id="btnLimpiar">Limpiar filtros</a>
                    </div>
                </form>
            </div>
            @* Fin cuerpo del acordeon *@
        </div>
    </div>

    <canvas id="graficoPorMes" class="reporte-width"></canvas>
    <div class="contenedor-btn-descargar" id="contenedorBtnPdfBarraMes" style="display:none;">
        <form method="post" asp-action="ReporteGraficosPDF" id="formPdfBarraMes" class="form-pdf" >
            <input type="hidden" id="imagenBase64BarraMes" name="imagenBase64">
            <input type="hidden" name="fechaDesde">
            <input type="hidden" name="fechaHasta">
            <button type="submit" class="btn-pdf">
                <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
            </button>
        </form>
    </div>

    <canvas id="graficoTortaParcela" class="reporte-width"></canvas>
    <div class="contenedor-btn-descargar" id="contenedorBtnPdfPorcentajeTorta" style="display:none;">
        <form method="post" asp-action="ReporteGraficosPDF" id="formPdfPorcentajeTorta" class="form-pdf">
            <input type="hidden" id="imagenBase64PorcentajeTorta" name="imagenBase64">
            <input type="hidden" name="fechaDesde">
            <input type="hidden" name="fechaHasta">
            <button type="submit" class="btn-pdf">
                <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
            </button>
        </form>
    </div>

    <canvas id="graficoBarraParcela" class="reporte-width"></canvas>
    <div class="contenedor-btn-descargar" id="contenedorBtnPdfBarrasTipoParcela" style="display:none;">
        <form id="formPdfBarraParcela" method="post" asp-action="ReporteGraficosPDF" class="form-pdf">
            <input type="hidden" id="imagenBase64BarrasTipoParcela" name="imagenBase64">
            <input type="hidden" name="fechaDesde">
            <input type="hidden" name="fechaHasta">
            <button type="submit" class="btn-pdf">
                <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
            </button>
        </form>
    </div>
    
</div>






@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script>
        var urlBase = 'https://' + '@Context.Request.Host';
    </script>
    <script src="~/js/reportes/introducciones/barrasIntroducionesMes.js"></script> @* grafico de barras cantidad de introducciones por mes *@
    <script src="~/js/reportes/introducciones/reportesIntroduccionesPorTipoParcelaTorta.js"></script>
    <script src="~/js/reportes/introducciones/graficobarraparcela.js"></script>
    <script>
        // Botones para descargar en PDF
        document.getElementById('formPdfBarraMes').addEventListener('submit', function (e) {
            var canvas = document.getElementById("graficoPorMes");
            var imagen = canvas.toDataURL("image/png");
            document.getElementById("imagenBase64BarraMes").value = imagen;
        });

        document.getElementById('formPdfPorcentajeTorta').addEventListener('submit', function (e) {
            var canvas = document.getElementById("graficoTortaParcela");
            var imagen = canvas.toDataURL("image/png");
            document.getElementById("imagenBase64PorcentajeTorta").value = imagen;
        });

        document.getElementById('formPdfBarraParcela').addEventListener('submit', function (e) {
            var canvas = document.getElementById("graficoBarraParcela");
            var imagen = canvas.toDataURL("image/png");
            document.getElementById("imagenBase64BarrasTipoParcela").value = imagen;
        });
    </script>

}
