@using CemSys2.ViewModel.Reportes
@model IntroduccionReportesVM

<h1 class="tituloDePagina">Reportes de introducciones</h1>

<!-- formulario -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Buscador
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            <div class="accordion-body">
                <form asp-action="/" method="get">
                    <div class="text-center p-3">
                        
                    </div>
                   
                    <div class="text-center p-3">
                        <input id="todasOpcion" type="radio" name="opcion" value="todas" checked />

                        <label for="todasOpcion" class="me-4">Todas</label>

                        <input id="desdeOpcion" type="radio" name="opcion" value="fecha" />

                        <label for="desdeOpcion">Desde</label>
                        <input  type="date" class="form-control-sm me-2" name="desdeFecha" value="@Context.Request.Query["desdeFecha"]" />

                        <label>Hasta</label>
                        <input type="date" class="form-control-sm me-2" name="hastaFecha" value="@Context.Request.Query["hastaFecha"]" />
                    </div>

                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-success me-2" id="btnBuscar">Buscar</button>
                        <a asp-action="VistaReportesIntroducciones" asp-controller="Introduccion" class="btn btn-primary" id="btnLimpiar">Limpiar filtros</a>
                    </div>
                </form>
            </div>
            @* Fin cuerpo del acordeon *@
        </div>
    </div>
</div>


<canvas id="graficoPorMes" class="reporte-width"></canvas>
<div>
    <form id="formPdfBarraMes" method="post" asp-action="ReporteGraficosPDF">
        <input type="hidden" id="imagenBase64BarraMes" name="imagenBase64" />
        <input type="hidden" name="fechaDesde" value="" />
        <input type="hidden" name="fechaHasta" value="" />
        <button type="submit" class="btn-pdf">
            <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
        </button>
    </form>
</div>



@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var urlBase = 'https://' + '@Context.Request.Host';
    </script>
    <script src="~/js/reportes/introducciones/barrasIntroducionesMes.js"></script> @* grafico de barras cantidad de introducciones por mes *@
    <script>
        const meses = [
            'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio',
            'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'
        ];

        document.getElementById('formPdfBarraMes').addEventListener('submit', function (e) {
            const canvas = document.getElementById("graficoPorMes");
            const imagen = canvas.toDataURL("image/png");
            document.getElementById("imagenBase64BarraMes").value = imagen;

            if (chart && chart.data.labels.length > 0) {
                const labels = chart.data.labels;

                const ordenadas = labels.slice().sort((a, b) => {
                    const [mesA, anioA] = a.split('/').map(Number);
                    const [mesB, anioB] = b.split('/').map(Number);
                    return new Date(anioA, mesA - 1) - new Date(anioB, mesB - 1);
                });

                function formatoMesAnio(fecha) {
                    const [mes, anio] = fecha.split('/').map(Number);
                    return `${meses[mes - 1]} ${anio}`;
                }

                const fechaDesde = formatoMesAnio(ordenadas[0]);
                const fechaHasta = formatoMesAnio(ordenadas[ordenadas.length - 1]);

                document.querySelector('input[name="fechaDesde"]').value = fechaDesde;
                document.querySelector('input[name="fechaHasta"]').value = fechaHasta;
            }
        });
    </script>
}
