@{
    ViewData["Title"] = $"Secciones";
}
<h1 class="tituloDePagina">Secciones</h1>
<div class="container3">
    <a asp-action="InicioSeccionesNichos" class="btn-inicio">
        <i class="bi bi-bricks"></i>
        <span>Nichos</span>
    </a>
    <a asp-action="InicioSeccionesFosas" class="btn-inicio">
        <i class="bi bi-water"></i>
        <span>Fosas</span>
    </a>
    <a asp-action="InicioSeccionesPanteones" class="btn-inicio">
        <i class="bi bi-house-door"></i>
        <span>Panteones</span>
    </a>
</div>
