
<h1>Secciones</h1>
<a asp-action="InicioSeccionesNichos">Secciones de Nichos</a>
<a asp-action="InicioSeccionesFosas">Secciones de Fosas</a>
<a asp-action="InicioSeccionesPanteones">Secciones de Panteones</a>